@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

body {
    background-image: linear-gradient(to right, rgb(242, 242, 166), rgb(249, 249, 118));
    font: 1em Arial, sans-serif;
}
main {
    background-color: white;
    width: 800px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.352);
    margin: auto;
}
h1 {
    font: 2em 'Sedgwick Ave Display';
}
h2 {
    font: 2em 'Mrs Saint Delafield';
}
/**Código da aula sobre importação de fontes no Google Fonts